/config/additional_environment.rb
/config/database.yml
/config/email.yml
/config/initializers/session_store.rb
/coverage
/db/*.db
/db/*.sqlite3
/db/schema.rb
/files/*
/log/*.log*
/log/mongrel_debug
/public/dispatch.*
/public/plugin_assets
/tmp/*
/tmp/cache/*
/tmp/sessions/*
/tmp/sockets/*
/tmp/test/*


/public/open-flash-chart-bar-clicking.swf
/public/open-flash-chart.swf

/vendor/plugins/redmine_tab/
/vendor/plugins/Redmine_Mail_Configuration_plugin/
/vendor/plugins/admin_data/
/vendor/plugins/clones.txt
/vendor/plugins/effort_estimate/
/vendor/plugins/open_flash_chart/
/vendor/plugins/projects_tree_view/
/vendor/plugins/question_plugin/
/vendor/plugins/redmine_bugcloud/
/vendor/plugins/redmine_charts/
/vendor/plugins/redmine_goyello_schedules/
/vendor/plugins/redmine_graphs_plugin/
/vendor/plugins/redmine_scrumdashboard/
/vendor/plugins/stuff_to_do_plugin/
/vendor/plugins/time_spent_roadmap_plugin/

*~
/notes.txt

redmine-prod-install.txt
